* {
    border: none;
    border-radius: 0;
    font-family: "JetBrains Mono ExtraBold", "JetBrains Mono", monospace;
    font-weight: 800; /* Questo lo rende "Extra Bold" */
    font-size: 15px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(0, 0, 255, 0.8); /* Il blu acceso dello screenshot */
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces button {
    min-width: 24px;
    padding: 0;
    margin: 3px 4px;
    background-color: #880808;
    color: #000000;
    border-radius: 50%;
}

#workspaces button.focused {
    background-color: #ff0000;
    color: #000000;
}

#backlight,#cpu,#memory,#temperature{
    padding: 0 2px;
    margin: 0 2px;
}

#keyboard-state {
    min-width: 50px; /* Prenota lo spazio per la scritta CAPS */
    padding: 0 5px;
    font-weight: 800;
    color: #000000;
    padding: 0 5px;
}

/* Rimuovi assolutamente i padding giganti che vedevo prima */
#network, #pulseaudio {
    padding: 0 10px;
}
